deps/
build/
.gdb_history

# Hides the generated content in subprojects
subprojects/*
!/subprojects/packagefiles
!subprojects/*.wrap
.aider.chat.history.md
.aider*
.cache*
smt2/
subprojects/kissat-rel-4.0.1/